@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Clientes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
                </li>

                <li class="nav-item active">
                    @if (@ViewBag.Login.Nivel == "Admin")
                    {
                        <a class="nav-link">Clientes</a>
                    }
                    else
                    {
                        <a class="nav-link disabled" aria-disabled="true">Clientes</a>
                    }
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Ação</a>
                        <a class="dropdown-item" href="#">Outra ação</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Algo mais aqui</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Usuario" asp-action="Login">Sair</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" asp-controller="Cliente" asp-action="buscar">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="nome">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Buscar" />
            </form>
        </div>
    </nav>

    <div class="container">

        <div align="right" style="margin:15px;">
            <a type="button" class="btn btn-success" asp-controller="Usuario" asp-action="Add">Adicionar</a>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Senha</th>
                    <th scope="col">Ativo</th>
                    <th scope="col">Nível</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in ViewBag.usuarios)
                {
                    <tr>
                        <th scope="row">@usuario.Id</th>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Usuario</td>
                        <td>@usuario.Senha</td>
                        <td>
                            @if (@usuario.Ativo == "false")
                            {
                                <text>
                                    Não
                                </text>
                            }
                            else
                            {
                                <text>
                                    Sim
                                </text>
                            }
                        </td>
                        <td>@usuario.Nivel</td>
                        <td>
                            <a type="button" class="btn btn-info" asp-controller="Usuario" asp-action="Edit" asp-route-id="@usuario.Id">Editar</a>
                            <a type="button" class="btn btn-danger" asp-controller="Usuario" asp-action="Delete" asp-route-id="@usuario.Id" onclick="return confirm('Deseja excluir o Registro?')">Apagar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
